@font-face {
 font-family: Proxima Nova Regular;
 src: url("./assets/font/Font\Proxima\Nova.otf") format("opentype");
 }

body {
 font-family: 'Proxima Nova Regular', sans-serif;
 position: relative;
 margin: 0 auto;
 background-color: #009D9B;
 max-width: fit-content;
 padding: 0 2.5em;
}

h1 {
 text-transform: uppercase;
 font-size: 3em;
 line-height: 0.5em;
 letter-spacing: 0.05em;
 font-weight: 800;
 text-align: center;
 color: #CDC000;
}

h2 {
 font-size: 1.5em;
 font-weight: 500;
 letter-spacing: 0.05em;
 margin: 0;
 line-height: 1.5em;
 cursor: pointer;
 color: #F57C72;
}

img {
display: block;
margin: 1.25em auto;
max-width: 28em;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

li {
 padding: 0;
 padding-top: 0.1em;
 border-top: 0.2em dashed #98b65e;
}

.title .fa-solid {
 display: none;
 align-self: center;
 color: #cec97f;
 font-size: 1.5em;
}

.title {
 display: flex;
 justify-content: space-between;
}

.accordion {
 width: 30em;
}

.accordion:hover .fa-solid {
 display: inline-block;
}

.accordion:hover h2 {
 color: #cec97f;
}


input[type=radio] {
 position: absolute;
 cursor: pointer;
 width: 100%;
 height: 100%;
 z-index: 1;
 opacity: 0;
}

input[type=radio] ~ img {
 margin-top: 0;
 max-height: 0;
 opacity: 0;
}


input[type=radio]:checked ~ img {
 margin-top: 1.25em;
max-height: fit-content;
transition: all 1s;
opacity: 1;
}

input[type=radio]:hover ~ img {
margin-top: 1.25em;
max-height: fit-content;
transition: all 1s;
opacity: 1;
}

input[type=radio]:hover ~ h2 {
 color: #cec97f;
 }

input[type=radio]:checked ~ .title h2{
color: #cec97f;
}

input[type=radio]:hover ~ .title .fa-solid{
 transform: rotate(180deg);
}


input[type=radio]:checked ~ .title .fa-solid {
 transform: rotate(180deg);
}

@keyframes flipdown {
 0% {
   opacity: 0;
   transform-origin: top center;
   transform: rotateX(-90deg);
 }
 5% {
   opacity: 1;
 }
 80% {
   transform: rotateX(8deg);
 }
 83% {
   transform: rotateX(6deg);
 }
 92% {
   transform: rotateX(-3deg);
 }
 100% {
   transform-origin: top center;
   transform: rotateX(0deg);
 }
}

.transition, .fa-solid, img {
 transition: all 1s ease-in-out;
}

.flipIn, ul li, h1 {
 animation: flipdown 0.7s ease both;
}

li:nth-of-type(1) {
 animation-delay: 0.5s;
}
li:nth-of-type(2) {
 animation-delay: 0.75s;
}
li:nth-of-type(3) {
 animation-delay: 1s;
}

li:nth-of-type(4) {
 animation-delay: 1.25s;
}

li:nth-of-type(5) {
 animation-delay: 1.5s;
}

li:nth-of-type(6) {
 animation-delay: 1.75s;
}

li:nth-of-type(7) {
 animation-delay: 2s;
}

li:nth-of-type(8) {
 animation-delay: 2.25s;
}

li:last-of-type {
 padding-bottom: 0;
}

@media (max-width:820px) {
 html {
    font-size: 140%;
 }
}

@media (max-width:800px) {
 html {
    font-size: 90%;
 }
}

@media (max-width:700px) {
 html {
    font-size: 70%;
 }
}

@media (max-width:600px) {
 html {
    font-size: 55%;
 }
}

@media (max-width:320px) {
 html {
    font-size: 55%;
 }
}

@media (hover:hover) {
 input[type=radio]:hover ~ img {
  margin-top: 1.25em;
  max-height: fit-content;
  transition: all 1s;
  opacity: 1;
 }

 input[type=radio]:hover ~ h2 {
  color: #cec97f;
 }

 .accordion:hover .fa-solid {
  display: inline-block;
 }

 .accordion:hover h2 {
  color: #cec97f;
 }

 input[type=radio]:hover ~ .title .fa-solid{
  transform: rotate(180deg);
 }
}